body {
    display: flex;
    flex-direction: column;
    background-image: url(textures/menu/dirt.png);
    image-rendering: pixelated;
    background-size: 7%;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the body to 100% of the viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    color: white;
}

img {
    width: 50%;
    margin: 2%;
}

a {
    color: white;
    font-size: 2vh;
}

h1 {
    margin: 0px;
}

br {
    margin: 10px;
}

.version {
    width: 50%;
}

.button {
    display: flex;
    margin: 0.5%;
    width: 30%;
    height: 10%;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
    border-radius: 100vh;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 3vh;
}

.button:hover {
    background-color: rgb(164, 164, 164);
}

.button:active {
    background-color: grey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-top: 1px solid darkslategray;
    border-left: 1px solid darkslategray;
}


@media (max-width: 400px) {
    body {
        background-size: 20%;
    }

    a {
        width: 50%;
        height: 20%;
    }

    img {
        width: 90%;
    }
}
