body {
    display: flex;
    background-color: #b9d2fd;
    margin: 0;
    image-rendering: pixelated;
}

.world {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto; /* Enable horizontal scrolling */
}

.layer {
    display: flex;
    flex-direction: row;
    min-width: fit-content; /* Ensure the layer is at least as wide as its content */
}

.block-buttons {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 999; /* Ensure the buttons are on top of the blocks */
}


.block {
    width: 16vh;
    height: 16vh;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.grass_block {
    background-image: url('textures/grass.png');
}

@media only screen and (max-width: 768px) {
    .block {
        width: 32px; /* Adjust the width for smaller screens */
        height: 32px; /* Adjust the height for smaller screens */
    }
}